<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript">
    </script>
    <title></title>
</head>
<body>
    <div class="wrapper">
        <div class=lightbox__content>
                    <h2 class=lightbox__header>Koniec czasu - spróbuj ponownie</h2>
                    <form class=lightbox__form action="/" method="POST">
                        <div class=lightbox__form-control>
                            <button name="new_game" value="start" class=button_off_on onclick="">Zacznij nową grę</button>
                    </form>
                    <br>
                    </div>
        </div>
    </div>



</body>
</html>