<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript">
    </script>
    <title></title>
</head>
<body>
    <div class="wrapper">
        <div class=lightbox__content>
                    <h2 class=lightbox__header>Aby rozpocząć podaj login lub imię</h2>
                    <form class=lightbox__form action="/person" method="POST">
                        <div class=lightbox__form-control>
                            <input class=lightbox__input placeholder="Podaj login lub imię" type="text" autocomplete="off" id="username" name="username">
                            
                            <label class=container>Free Game <span class=radio-control> każde słowo 1 pkt - czas nielimitowany </span>
                                <input type="radio" name="level" value=1 checked="checked">
                                <span class=checkmark></span>
                            </label>
                            <br>
                            <label class=container>Level 1 <span class=radio-control> każde słowo 2 pkt - czas 15 sek. / słowo </span> 
                                <input type="radio" name="level" value=2>
                                <span class=checkmark></span>
                            </label>
                            <br>
                            <label class=container>Level 2 <span class=radio-control> każde słowo 3 pkt - czas 10 sek. / słowo</span> 
                                <input type="radio" name="level" value=3>
                                <span class=checkmark></span>
                            </label>
                            <br>
                            <label class=container>Level 3 <span class=radio-control> każde słowo 4 pkt - czas 5 sek. / słowo </span> 
                                <input type="radio" name="level" value=4>
                                <span class=checkmark></span>
                            </label>
                            <br>

                            <button name="new_game" value="start" class=button_off_on onclick="">Zacznij nową grę</button>
                        </form>
                    </div>
        </div>
    </div>

</body>
</html>